src/main/resources/META-INF/sanitizer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="sanitizer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="switch" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="match-reject">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dl_vlan" type="xs:integer"></xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="action-reject">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="set_vlan" type="xs:integer"></xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dpid" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>